@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://localhost:7261/movies">Add movie dates and reviews.</a>.</p>
</div>
